*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body[theme='dark']{
  transition-duration: .6s; 
  --font-color: hsl(0, 0%, 100%);
  --bg-color: hsl(207, 26%, 17%);
  --lm-input: hsl(209, 23%, 22%);
  --item-bg-color: hsl(209, 23%, 22%);
  --shadow: 0px 0px 5px rgba(31, 31, 31, 0.631);
  --boder-spinner: hsl(0, 0%, 98%);
}
body[theme='light']{
  transition-duration: .6s; 
  --font-color: hsl(200, 15%, 8%);
  --bg-color: hsl(0, 0%, 98%);
  --lm-input: hsl(0, 0%, 100%);
  --item-bg-color: hsl(0, 0%, 100%);
  --shadow: 0px 0px 5px rgba(84, 84, 84, 0.303);
  --border-spinner: hsl(207, 26%, 17%); 
}
a{
  text-decoration: none;
  color: inherit;
}

:root{
  color: var(--font-color);
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}
body{
  transition-duration: .6s; 
  background-color: var(--bg-color);
}
.header{
  transition-duration: .6s; 
  color: var(--font-color);
  background-color: var(--item-bg-color);
  box-shadow: var(--shadow);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: .7rem;
}
.toggle{
  cursor: pointer;
}
.form{
  transition-duration: .6s; 
  color: var(--font-color);
  margin: 1rem;
    
}
.form__search{
  transition-duration: .6s;
  background-color: var(--item-bg-color);
  width: 100%;
  padding: 1rem;
  box-shadow: var(--shadow);
}
.form__search-icon{
  width: 10%;
}
.form__search-input:hover,
.form__search-input:active,
.form__search-input:focus,
.form__search-input{
  color: var(--font-color);
  transition-duration: .6s; 
  background-color: var(--lm-input);
  width: 90%;
  border: none;
  outline: none; 
}
.form__filter:active,
.form__filter:focus,
.form__filter{
  transition-duration: .6s; 
  margin-top: 2rem;
  background-color: var(--item-bg-color);
  width: 60%;
  box-shadow: var(--shadow);
  padding: 1rem;
}
.form__filter-select{
  transition-duration: .6s; 
  background-color: var(--lm-input);
  color: var(--font-color);
  width: 100%;
  border: none;
  outline: none;
}
.content2,
.content{
  width: 90%;
  margin: 2rem auto;
}
.back__btn::before{
  content: '  ';
  font-family: FontAwesome;
  color: var(--font-color);
}
.back__btn{
  background-color: var(--item-bg-color);
  border: none;
  box-shadow: var(--shadow);
  padding: .5rem 2rem;
  font-weight: 500;
  font-size: 1rem;
  color: var(--font-color);
}
.card{
  transition-duration: .6s; 
  color: var(--font-color);
  background-color: var(--item-bg-color);
  box-shadow: var(--shadow);
  border-radius: 10px;
  overflow: hidden;
  width: 85%;
  margin: 2rem auto;
  cursor: pointer;
}
.card2{
  transition-duration: .6s; 
  color: var(--font-color);
  width: 95%;
  margin: 2rem auto;
}
.card__image{
  width: 100%;
  height: 50%;
}
.card__image-image{
  width: 100%;
}
.card__info-container{
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.card__info{
  width: 100%;
  height: 50%;
  padding: 1rem;
}
.card__info2{
  width: 100%;
  height: 50%;
}
.card__info-title{
  margin: 1rem 0;
  font-size: 1.5rem;
}
.card__info-data{
  font-size: 1.2rem;
  margin: 1rem 0;
}
.card__info-strong{
  font-weight: lighter;
}

.btn__title{
  color: var(--font-color);
}
.btn__container{
  display: grid;
  grid-template-columns: repeat(3, 90px);
  gap: .6rem;
  place-content: center;
}
.btn__container button{
  background-color: var(--item-bg-color);
  border: none;
  box-shadow: var(--shadow);
  margin: .5rem 0;
  padding: .6rem 0;
  color: var(--font-color);
}
.spinner{
  position: absolute;
  height: 100px;
  width: 100px;
  border: 10px solid transparent;
  border-top-color: var(--boder-spinner);
  border-bottom-color: var(--boder-spinner);
  border-radius: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: girar 1s linear infinite;
}

@keyframes girar{
  from{
    transform: rotate(0deg);
    
  }
  to{
    transform: rotate(360deg);    
  }
}
@media screen and (min-width: 700px){
  .content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
  }
  .card2{
    width: 100%;
  }
  .card__info2{
    display: grid;
    grid-template-columns: 315px 315px;
    place-content: center;
    padding-top: 2.66rem;
    width: auto;
  }
  .card__info2 .card__info-title{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0;
    grid-column: 1;
    grid-column-end: none;
  }
  .card__info-container{
    text-align: center;
    margin: 0;
  }
  .card__info-container2{
    text-align: center;
  }

}
@media screen and (min-width: 950px) {
  .header{
    padding: 1rem 3.5rem;
  }
  .content{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 2rem;
    place-content: center;
    width: 100%;
  }
  .back__btn{
    width: 8rem;
    height: 2rem;
  }
  .card{
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
  .card2{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .content2 .card__image-image{
    width: 30rem;
  }
  
  .card__info2{
    display: grid;
    grid-template-columns: repeat(2, 180px);
    padding-top: 0;
    width: auto;
  }
  .card__info2 .card__info-title{
    text-align: unset;
    font-size: 1.5rem;
    margin-top: 0;
    grid-column: 1;
    grid-column-end: none;
  }
  .card__image{
    width: auto;
    height: auto;
  }
  .card__info{
    padding: .3 1rem;
  }
  .card__info-title{
    font-size: 1rem;
  }
  .card__info-data{
    font-size: .8rem;
    margin: .5rem 0;
  }
  .btn__container-section{
    position: relative;
    right: -556px;
    bottom: 65px;
    width: 22.66rem;
    display: flex;
  }
  .btn__title{
    font-size: .8rem;
    margin-top: .3rem;
    margin-right: .5rem;
  }
  .btn__container{
    display: grid;
    grid-template-columns: repeat(3, 77px);
    gap: .6rem;
    place-content: center;
  }
  .btn__container button{
    width: 5rem;
    margin: 0;
    padding: .3rem 0;
  }
  .form{
    display: flex;
    justify-content: space-between;
    margin: 2rem 3.5rem;
  }
  .form__search{
    display: flex;
    align-items: center;
    padding: 0 1rem;
    height: 3rem;
    width: 23rem;
  }
  .form__filter{
    margin: 0;
    height: 3rem;
    width: 10rem;
    padding-top: .8rem;
  }
  .card__info-container{
    text-align: unset;
   
  }
  .card__info-container2{
    text-align: unset;
  }
}